p {
    font-family: arial;
    text-align: center;

}

.mode {
    font-weight: bold;
    font-size: 18px;
}

.touch {
    text-decoration: underline;
}

.cat {
    width: 200px;
    border-radius: 8px;
}

.cat-2 {
    height: 130px;
    width: 130px;

}

.cat-3 {
    height: 130px;
    width: 130px;
    border-radius: 65px;
}